:host {
  &.dark {
    background: #444;
    color: #fff;
  }
  &.light {
    background: #f9f9f9;
    color: #000;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 1rem;
  input,
  select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button {
    padding: 0.5rem 1rem;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &[disabled] {
      background: #ccc;
      cursor: not-allowed;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  li {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
}

.user-form {
  background: #fff;
    padding: 5px;
    width: 30%;
    --card-shadow: 6px 10px 15px 2px rgba(0, 0, 0, 0);
    transition: all 0.5s cubic-bezier(0.1, 0.1, 0.1, 0.1);
    box-shadow: var(--card-shadow);
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}
