<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="form" aria-labelledby="login-form">
    <h4>Sign In</h4>
    <div>
      <label class="form-label" for="username">Username</label>
      <input class="form-control" id="username" formControlName="username" aria-required="true" />
    </div>
    <div>
      <label class="form-label" for="password">Password</label>
      <input class="form-control" id="password" type="password" formControlName="password" aria-required="true" />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
